/*-------Resuable colours------*/
:root{
    --primary-color: #243b53;
    --text-color: #101f20;
    --background-color: #f4f4f4;
    --card-color: #ffffff;
    --muted-color: #666666;
}

/*--------Basic reset ------*/
* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

/* -------Whoel Page -----*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #101f20;
    background-color: #f4f4f4;
}

header {
    background-color: #243b53;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #243b53;
}

footer {
    text-align: center;
    color: #666666;
    padding: 20px;
}