/*-------Resuable colours------*/
:root{
    --primary-color: #243b53;
    --text-color: #101f20;
    --background-color: #f4f4f4;
    --card-color: #ffffff;
    --muted-color: #666666;
}

/*--------Basic reset ------*/
* { /*select every element*/
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

/* -------Whoel Page -----*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #101f20;
    background-color: #f4f4f4;
}

/*------Header-------*/

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    line-height: 1.2;
}

header p {
    margin: 10px 0 0;
}

/*navigation*/

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: var(--primary-color);
}

/* ------Skills-------- */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background-color: var(--background-color);
    padding: 6px 12px;
    border-radius: 5px;
}

/* ------Projects------- */
.project-details {
    display: none;
}

.project-details.show {
    display: block;
}

.project-button {
    cursor: pointer;
}


footer {
    text-align: center;
    color: #666666;
    padding: 20px;
}